<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="false" default-autowire="no"
	default-dependency-check="none">

	<bean name="/workflow/workflowList"
		class="com.kurui.kums.workflow.action.WorkflowListAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="workflowBiz">
			<ref bean="workflowBiz" />
		</property>
	</bean>

	<bean name="/workflow/workflow"
		class="com.kurui.kums.workflow.action.WorkflowAction" singleton="false"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="workflowBiz">
			<ref bean="workflowBiz" />
		</property>
	</bean>

	<bean name="workflowBiz"
		class="com.kurui.kums.workflow.biz.WorkflowBizImp" singleton="false"
		lazy-init="default" autowire="default" dependency-check="default">
	
	</bean>
</beans>